*{
	box-sizing: border-box;
	font-family: cursive;
	padding: 0px;
	margin: 0px;
}

h1{
	font-size: 3.5em;
}

.container{
	padding-left: 5%;
	padding-right: 5%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px){
	.container{
		width: 80%;
	}
	.col-sm-12{
		width: 100%;
	}

}

@media (min-width: 768px) and (max-width: 992px){
	.container{
		width: 95%;
	}
	.col-md-6{
		width: 48.96%;
	}
	.col-md-6:nth-child(1){
		margin-right: 2.08%;
	}
	.col-md-12{
		width: 100%;
	}
}

@media (min-width: 992px){
	.container{
		width: 100%;
	}
	.col-lg-4{
		width: 31.94%;
	}
	.col-lg-4:nth-child(1),.col-lg-4:nth-child(2){
		margin-right: 2.08%;
	}
	.col-lg-12{
		width: 100%;
	}
}

.row{
	margin-left: -15px;
	margin-right: -15px;
}

.box{
	background-color: #999999;
	border: 1px solid black;
	margin-bottom: 2.08%;
	float: left;
}

.box p{
	padding:10px 10px 10px 10px;
}


.page-header{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.box-header{
	float: right;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 40%;
	text-align: center;
	font-size: 1.25em;
}

.box-content{
	clear: both;
}

.box-header-1{
	background-color: #D59898;
}

.box-header-2{
	background-color: #C14543;
}

.box-header-3{
	background-color: #E5D198;
}
